<%# строка с указанием начала дива для хэдера находится в application.html.erb%>
	<% if user_signed_in? %>
	<div class="registration">
		<%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
	</div>
	<% end %> 
<%= form_for @news do |f| %>
    <%=f.text_field :header%>
</div>
<div id="content">
    <p><%=f.text_area :news%></p>
    <p><%=f.submit("Изменить")%></p>
<%end%>
<%= link_to 'Показать', @news %> |
<%= link_to 'Назад', news_index_path %>
</div>
