<%# строка с указанием начала дива для хэдера находится в application.html.erb%>
	<% if user_signed_in? %>
	<div class="registration">
		<%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
	</div>
	<% end %>  
<%= form_for @news do |f| %>
	<div class="input">
		Заголовок:<br>
		<%=f.text_field :header%>
	</div>
</div>

<div id="content">
	<div class="input">
		Текст:<br>
		<%=f.text_area :news%>
	</div>
	<div class="input">
		Категория:<br> 
		<%= select_tag(:section_id, options_from_collection_for_select(Section.all, :id, :name)) %>
	</div>
	<div class="input">
		<%=f.submit("Создать")%>
	</div>
<%end%>
<%= link_to 'Назад', news_index_path %>
</div>